@font-face {
    font-family: 'AvenirLTStd';
    src: url('../fonts/Avenir\ LT\ Std\ 35\ Light.otf');
}

@font-face {
    font-family: 'AvenirLTStdBold';
    src: url('../fonts/Avenir\ LT\ Std\ 95\ Black.otf');
}

.bold-text {
    font-family: 'AvenirLTStdBold', sans-serif;
}

body {
    font-family: 'AvenirLTStd', sans-serif;
    overflow-x: hidden;
}

.header {
    padding: 10px 0 !important;
}

.header {
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    transition: background-color 0.3s ease;
    /* Add a smooth transition effect */
}

.header.scrolled {
    background-color: white;
}

.logo-wrapper img {
    width: 187px;
    height: auto;
}

.menu-desktop {
    display: block;
}

.menu-wrapper .nav-menu {
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.menu-wrapper .nav-menu>li {
    position: relative;
    padding: 0 14px;
    display: inline-block;
    border: 1px solid transparent;
    margin-right: 5px;
    border-radius: 50px;
    height: 50px;
    line-height: 50px;
}

.menu-wrapper .nav-menu>li:hover,
.menu-wrapper .nav-menu>li.current-menu-item,
.menu-wrapper .nav-menu>li.current-menu-parent {
    border: none !important;
    border-bottom: 1px solid #000 !important;
    border-radius: 0;
}

.menu-wrapper .nav-menu>li:hover .submenu-wrapper {
    visibility: visible;
    opacity: 1;
}

.menu-wrapper .menu-item-has-children .submenu-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    width: 222px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    transition-property: opacity, visibility;
    padding-top: 20px;
}

.menu-wrapper .menu-item-has-children .sub-menu {
    background: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
    border-radius: 10px;
    transition: transform 0.3s;
}

.menu-wrapper .menu-item-has-children .sub-menu li {
    content: "";
    border-bottom: 1px solid #000;
}

.menu-wrapper .menu-item-has-children .sub-menu li {
    margin-bottom: 0 !important;
    padding: 10px 0 !important;
}

.menu-wrapper li a {
    font-weight: 500;
    text-transform: uppercase;
    color: #3a3a3a;
    text-decoration: none;
    font-size: 13px;
}

.menu-wrapper li a:hover {
    color: #000;
}

.menu-wrapper .nav-menu>li.contact {
    border-radius: 25px !important;
}

.menu-wrapper .contact {
    background-color: #7558db !important;
    border: 1px solid #7558db !important;
}

.menu-wrapper .contact a {
    color: #fff !important;
}

.menu-wrapper .nav-menu>li:last-child:hover {
    border-radius: 25px !important;
    background: #000 !important;
}








/* hero-section */


.hero-section {
    padding-top: 52px;
    padding-bottom: 170px;
    background-image: url('../images/header-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    background-position: top center;
}

.inner-padding-right {
    padding-right: 30px !important;
    padding-left: 30px !important;
}

#thisimg {
    height: 450px;
    object-fit: contain;
    transition: 1s;
    margin: 0;
    width: 100% !important;
    position: relative;
    left: -10%;
    overflow-x: hidden;
    top: 65px;
    transform: scale(1.2);
}

.col-btn-link {
    z-index: 1;
    position: absolute;
    bottom: 15%;
    left: 43%;
    width: 310px;
}

.button-link {
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-decoration: none !important;
    color: #fff !important;
}

.main-btn {
    background-color: #7558db;
    border: 1px solid #7558db;
    border-radius: 50px;
    padding: 0 32px;
    color: #fff;
    font-family: 'Avenir LT Std';
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    height: 65px;
    max-width: 100%;
    margin: 22px 0;
    outline: none;
    text-align: center;
}

.section-top-home:after {
    content: "";
    background-image: url('../images/separator.png');
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
}



/* next section css  */

.section-nos-expertise {
    background-image: url('../images/bg-expertise.png');
    background-size: 110% 100%;
    background-position: center;
    background-attachment: inherit;
    background-repeat: no-repeat;
    padding-top: 40px;
    position: relative;
    left: 0px;
    box-sizing: border-box;
}

.icon-model {
    width: 155px;
    position: relative;
    margin-bottom: 30px !important;
}

.icon-model:before {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    background: #7558db;
    border-radius: 50%;
    top: 30px;
    left: 0%;
}

.icon-model:after {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    background: #7558db;
    border-radius: 50%;
    top: 30px;
    right: 0;
}

.icon-fond {
    width: 85px;
    height: 85px;
    background-color: #7558db;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 100%;
}

span.icon-fond img,
span.icon-fond svg {
    width: 50px;
    height: 80px;
    object-fit: contain;
    object-position: center center;
    fill: #fff;
}

.title {
    font-weight: 700;
    margin: 0;
    line-height: 1;
    color: #363535;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.wpb_text_column.wpb_content_element.description {
    margin-bottom: 30px;
}

.description p {
    font-size: 15px;
    color: #2a2a2a;
}

.section-nos-expertise:not(.section-other-services) .description,
.section-nos-actualite .description {
    max-width: 683px;
    margin: auto;
}

.image-header {
    width: 156px;
    height: 146px;
    transition: transform 0.3s ease-out;
}

.image-header:hover {
    transform: scale(0.9);
    /* Adjust the scale factor as needed */
}

.on-page {
    max-width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 15px;
}

.main-shadow {
    box-shadow: 4px 1px 68px 0 rgba(10, 11, 11, .09);
}

.page-detail-content {
    width: 100%;
    display: inline-block;
    max-width: 535px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 28px;
    padding-top: 20px;
    background: #fff;
    border-radius: 8px;
    border-bottom-width: 9px;
    border-bottom-style: solid;
    text-align: left !important;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    z-index: 1;
}

.title2 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #363535;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
}

.description2 {
    margin-bottom: 30px;
    font-size: 15px;
    color: #2a2a2a;
}

.on-page {
    position: relative;
}

.on-page-0:before {
    background-image: url('../images/layer-expertise-1.png');
    width: 100%;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    height: 100%;
    left: -146px !important;
}

.on-page-1:before {
    background-image: url('../images/layer-expertise-2.png');
    width: 135%;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    height: 100%;
    left: -110px !important;
}

.on-page-2:before {
    background-image: url('../images/layer-expertise-3.png');
    width: 50%;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    height: 100%;
    left: -70px !important;
}

.on-page-3:before {
    background-image: url('../images/layer-expertise-4.png');
    width: 130% !important;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    height: 100%;
    left: -53px !important;

}

.on-page-4:before {
    background-image: url('../images/layer-expertise-5.png');
    width: 130% !important;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    height: 100%;
    left: -54px !important;

}

.on-page-5:before {
    background-image: url('../images/layer-expertise-6.png');
    width: 134% !important;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    height: 100%;
    left: -106px !important;

}


/* .realisation-section  */
.realisations-section {
    background-image: url('../images/bg-realisation.png');
    background-size: 100% 100%;
    background-position: top center;
    background-attachment: inherit;
    background-repeat: no-repeat;
    padding-bottom: 0;
}

.realisations-content {
    padding: 60px 0px;
}

.realisations-title h2 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    line-height: 1;
    color: #363535;
    font-size: 35px;
}

.realisations-title {
    margin-bottom: 40px;

}

.block-side {
    min-height: 440px;
}

.block-side {
    background: url('../images/element-nos-realisations.svg');
    background-size: contain !important;
    background-repeat: no-repeat !important;
    bottom: 103px;
    top: inherit !important;
    background-position: bottom !important;
}

.images {
    display: flex;
    width: 100%;
    align-items: flex-end;
    position: relative;
    float: left;
    overflow: hidden;
    top: 66px;
    left: 54px;
}

.slide_image1 img {
    max-width: 361px;
    height: auto;
    margin-top: 20px;
}

.slide_image2 img {
    max-width: 173px;
    height: auto;
    margin-bottom: 19px;
    margin-left: -70px;
}

.slider-title_kw {
    margin-top: 0%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}

.slider-description_kw {
    text-align: center;
    text-transform: uppercase;
    color: #000 !important;
    font-weight: 100 !important;
    font-size: 12px;
}

.info-wrapper_kw {
    position: relative;
    top: 45px;
}

/* section ACTUALITÉS  */








.post-blog:hover .header-image img {
    transform: scale(0.9);
    /* Adjust the scale factor as needed */
    transition: transform 0.3s ease-in-out;
    /* Add a smooth transition effect */
}

.post-blog .post-content {
    padding: 20px;
}

.post-blog .post-content {
    background-color: rgba(255, 255, 255, 0.6);
    border-bottom: 0 !important;
}

.post-blog .post-content {
    width: 100%;
    display: inline-block;

    background: #fff;
    border-radius: 10px;
    box-shadow: 4px 1px 68px 0 rgba(10, 11, 11, .09);
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.post-blog .header-image {
    margin-bottom: 20px;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.post-blog .post-content img {
    height: 230px;
    object-fit: cover;
    border-radius: 36px;
}

.post-blog .header-image img {
    max-width: 100%;
    height: 181px;
    transition: all 0.5s ease-in-out;
    object-fit: cover !important;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 100%;
}

.post-blog .header-infos .title {
    font-size: 18px !important;
    margin-bottom: 40px;
    color: #353435;
}

.post-blog .post-content img {
    height: 230px;
    object-fit: cover;
    border-radius: 36px;
}

.icone-right img {
    width: 50px !important;
    height: 24px !important;
}




/* footer-css */

.sup-footer-wrapper {
    margin-bottom: 80px;
}

footer .title {
    margin-bottom: 58px;
    font-weight: 700;
    margin: 0;
    line-height: 1;
    color: #363535;
}


.main-footer-wrapper {
    background-image: url('../images/bg-main-footer_3x-@2x.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-footer-wrapper {

    padding-top: 240px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    position: relative;
    overflow: hidden;
}

.main-footer-wrapper .layers-top {
    left: 370px;
}

.main-footer-wrapper .layers-top {
    display: flex;
    top: 180px;
    justify-content: flex-start;
}

.main-footer-wrapper .footer-layer {
    position: absolute;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    height: 100%;
    overflow: hidden;
    width: 131px;
}

.main-footer-wrapper .layers-left {
    left: -11px;
    width: 100px;
}

.main-footer-wrapper .layers-left {
    display: flex;
    left: 0;
    top: 50%;
}

.main-footer-wrapper .layers-right {
    right: -35px;
}

.main-footer-wrapper .layers-right {
    display: flex;
    width: 162px;
    padding-top: 242px;
    top: 25%;
}

.main-footer-wrapper .layers-right img:nth-of-type(1) {
    max-width: 230%;
    margin-left: 200px;
}

.main-footer-wrapper .layers-right img:nth-of-type(2) {
    margin-left: 80px;
    margin-top: -45px;
}

.main-footer-wrapper .layers-right img:nth-of-type(3) {
    margin-right: 75px;
}

.description-intro span {
    text-transform: uppercase;
    font-weight: 700;
}

.description-intro {
    font-size: 400;
    font-size: 15px !important;
}

.main-footer-wrapper .title-footer {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.inner-padding-left.inner-padding-right.footer-content {
    font-size: 15px !important;
}

.main-footer-wrapper .links-footer-wrapper li,
.menu-menu-footer-container .menu li {
    text-transform: uppercase;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.main-footer-wrapper .links-footer-wrapper li:before,
.menu-menu-footer-container .menu li:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
    margin-right: 8px;
}

.main-footer-wrapper .address-wrapper {
    background-image: url('../images/pin.svg');
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: top 2px left;
    margin-bottom: 30px;
}

.main-footer-wrapper .address-wrapper span {
    text-transform: uppercase;
    font-weight: 700;
}

.main-footer-wrapper .work-date {
    background-image: url('../images/calendar.svg');
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-bottom: 30px;


}

#menu-menu-footer {
    padding: 0px;
}

.main-footer-wrapper .btn-footer1 {
    font-size: 14px !important;
    height: 50px !important;
    width: 230px !important;
    margin: 15px 0 !important;
    padding: 10px !important;
}

.main-footer-wrapper .btn-number {
    background-color: transparent;
    border-color: #fff;
}

.button-link {
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-decoration: none !important;
    color: #fff !important;
}

.main-btn {
    border: 1px solid #7558db;
    border-radius: 50px;
    padding: 0 32px;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    max-width: 100%;
    outline: none;
    text-align: center;
}

.main-footer-wrapper .btn-realisation {
    background-color: #E6525E;
    border-color: #E6525E;
}

.mc4wp-form-fields {
    position: relative;
}

.newsletter-wrapper {
    width: 100%;
    max-width: 100%;
    position: relative;
}

.main-footer-wrapper .newsletter-wrapper input {
    background: transparent;
    border: none;
    border: 1px solid #fff;
    border-radius: 50px;
    height: 50px;
    width: 100%;
    outline: none;
    color: #fff;
    padding: 0 48px 0 20px;
}

.main-footer-wrapper .btn-submit-newsletter {
    background-image: url('../images/paper-plane.svg') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: #F9C83E !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    display: block !important;
    position: absolute !important;
    right: 17px !important;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    padding: 0 !important;
}

.main-footer-wrapper .sub-footer-wrapper {
    padding: 20px 0;
    border-top: 1px solid #fff;
    margin-top: 30px;
    font-size: 14px;
}

.main-footer-wrapper .social-media-footer {
    background-color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
}

.main-footer-wrapper .social-media-footer.facebook {
    background-image: url('../images/facebook.svg');
}

.social-media-footer.linkedin {
    background-image: url('../images/linkedin.svg');
}

.main-footer-wrapper .social-media-footer.twitter {
    background-image: url(../images/twitter.svg);
}

.footer-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 70px;
    bottom: 0;
    z-index: 9999999999;
}
.menu-mobile {
    display: none;
    max-width: 30px;
}
.footer-menu-mobile {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.footer-menu-link {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7558db;
}
.footer-menu-link a {
    color: #fff;
    font-weight: 700;
}
@media(min-width:992px) {
    article.post-blog {
        margin: 20px !important;
    }
    .mob-navigation{
        display: none;
    }

    .footer-inner-padding {
        padding: 0px 30px;
    }

    article.post-blog {
        width: 28%;
        /* margin: 30px auto; */
        display: block;
    }

    .inner-padding-left {
        padding-left: 30px !important;
    }

    footer .title {
        font-size: 35px;
    }

    .desktop-slider {
        display: block;
    }

    .mob-slide {
        display: none;
    }


}

@media(max-width:992px) {
.hiiden-over{
    overflow: hidden;
}
    .menu-desktop {
        display: none;
    }

    .desktop-slider {
        display: none;
    }

    .mob-slide {
        display: block;
    }

    .footer-menu {
        display: flex;
        position: fixed;
        width: 100%;
        height: 70px;
        bottom: 0;
        z-index: 9999999999;
    }

    .col-btn-link {
        z-index: 1;
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .on-page-4:before {
        width: 100% !important;
    }

    .on-page-3:before {
        width: 100% !important;
    }

    .on-page-1:before,
    .on-page-5:before {
        width: 100% !important;

    }

    .info-wrapper {
        text-align: center;
    }

    .page-detail-content .image img {
        text-align: center;
    }

    .main-footer-wrapper .footer-layer {
        display: none;
    }

    .menu-mobile {
        display: block !important;
    }
    .menu-mobile img{
        max-width: 100%;
        height: auto;
    }
    .footer-menu-link{
        z-index: 9999;
    }
    .footer-menu-link a {
        border: 1px dashed #fff;
        padding: 10px 35px;
        border-radius: 25px;
        background: rgb(99 70 201);
        font-size: 15px;
        box-shadow: 0 0 12px #6346c9;
    }
    .footer-menu-link a {
        color: #fff;
        font-weight: 700;
    }
 
    .mob-navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: rgb(51 51 51 / .7);
        height: 100%;
        z-index: 999999;
        overflow: scroll;
        overflow-x: hidden;
        transform: translateX(-100%); /* Initially off-screen */
        transition: transform 0.5s ease-in-out;
        will-change: transform;
    }
    
    .mob-navigation.show {
        transform: translateX(0); /* Display when the 'show' class is present */
    }
    
.top-menu {
    position: absolute;
    width: 70%;
    background: #fff;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    display: block!important;
    padding-top: 40px;
    transition: left 1s ease-in-out;
    padding-left: 0px;
}
.top-menu li a{
    color: #3a3a3a;
    text-decoration: none;
}
.top-menu li{
    padding: 10px;
}
.menu-close {
    position: fixed;
    z-index: 10000000;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: left 0.5s ease-in-out; /* Adjust transition duration */
    left: -100%;
    top: 68px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    width: 33px;
}

.menu-close img {
    width: 100%;
}

.show.menu-close {
    left: 70%;
    opacity: 1;
    visibility: visible;
}

}
















/* ------------------------------Animations portion starts------------------------------  */


/* -------------------------------------------------------projects site  */
.projectsite {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    align-items: center;
    height: fit-content;
    padding: 2vw 0;
    width: 92%;
    margin: auto;
    margin-bottom: 10vw;
}

.projectsite .sLider {
    width: 50%;
    position: relative;
    background: url("../images/buldingsbg.jpeg");
}

.projectsite .sLider .slider-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    padding: 2vw 0;
    min-width: 400px;
    position: relative;
    width: 50%;
}

.projectsite .sLider .slider-wrapper .slider-slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 400px;
    width: 90vw;
}


.projectsite .sLider .slider-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    padding: 2vw 0;
    min-width: 400px;
    position: relative;
}

.projectsite .sLider .slider-wrapper img {
    width: 7vw;
    height: 1/1;
    object-fit: contain;
    position: absolute;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.projectsite .sLider .slider-wrapper .slider-slide::before {
    content: attr(--data-txt);
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 900;
    font-size: 1.2vw;
    font-family: cursive;
    text-align: center;
    transition: 100ms ease-out;
}

.projectsite .sLider .slider-wrapper img:hover {
    scale: 1.1;
    filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.699));
}

.projectsite .sLider .slider-wrapper .slider-slide:last-child img:hover {
    scale: 1;
    filter: drop-shadow(0 0 0 rgba(255, 0, 0, 0.499));
}

.projectsite .sLider .slider-wrapper .slider-slide:nth-child(6) img:hover {
    scale: 1;
    transform: translateY(-10%);
}
.projectsite .sLider .slider-wrapper .slider-slide:nth-child(7) img:hover {
    scale: 1;
    transform: translateY(0%);
    filter:none;
}

.projectsite .sLider .slider-wrapper .slider-slide:last-child img {
    width: 47vw;
    left: -7%;
    top: 300%;
    right: 0;
    z-index: 2;
}

.projectsite .sLider .slider-wrapper .slider-slide:nth-child(1) img {
    height: 22vw;
    width: fit-content;
    object-fit: contain;
    left: 7%;
    top: -80%;
    right: 0;
}

.projectsite .sLider .slider-wrapper .slider-slide:nth-child(3) img {
    width: 14.5vw;
    height: fit-content;
    object-fit: contain;
    left: 16%;
    top: 80%;
    z-index: 1;
    right: 0;
}

.projectsite .sLider .slider-wrapper .slider-slide:nth-child(4) img {
    width: 17vw;
    height: fit-content;
    object-fit: contain;
    left: 50%;
    top: 184%;
    right: 0;
}

.projectsite .sLider .slider-wrapper .slider-slide:nth-child(2) img {
    width: 22vw;
    object-fit: contain;
    left: 42%;
    top: -160%;
    right: 0;
}

.projectsite .sLider .slider-wrapper .slider-slide:nth-child(5) img {
    width: 14vw;
    object-fit: contain;
    left: 90%;
    top: -52%;
    right: 0;
}

.projectsite .sLider .slider-wrapper .slider-slide:nth-child(6) img {
    width: 5.6vw;
    object-fit: contain;
    left: 120%;
    top: 18%;
    right: 0;
    z-index: 0;
}
.projectsite .sLider .slider-wrapper .slider-slide:nth-child(7) img {
    width: 4vw;
    object-fit: contain;
    left: 65%;
    top:-300%;
}

/* befores */

.projectsite .sLider .slider-wrapper .slider-slide:nth-child(1)::before {
    left: 3%;
    top: -10%;
    rotate: -20deg;
}

.projectsite .sLider .slider-wrapper .slider-slide:nth-child(3)::before {
    rotate: -20deg;
    left: 25%;
    top: 10%;
}

.projectsite .sLider .slider-wrapper .slider-slide:nth-child(4)::before {

    left: 58%;
    top: 220%;
    z-index: 1;
}

.projectsite .sLider .slider-wrapper .slider-slide:nth-child(2)::before {
    left: 62%;
    rotate: -10deg;
    top: -140%;
}

.projectsite .sLider .slider-wrapper .slider-slide:nth-child(5)::before {
    left: 85%;
    rotate: -15deg;
    top: -20%;
}

.projectsite .sLider .slider-wrapper .slider-slide:nth-child(6)::before {
    left: 130%;
    rotate: 25deg;
    top: 18%;
}
.projectsite .sLider .slider-wrapper .slider-slide:nth-child(7)::before {
    left: 0%;
    top: -300%;
    font-family: 'AvenirLTStdBold', sans-serif;
    font-size: 1.6vw;
}

@keyframes jumpp {

    0%,
    50%,
    100% {
        transform: translateY(0);
    }

    25%,
    75% {
        transform: translateY(25%);
    }
}

.projectsite .sLider .slider-wrapper .slider-slide:hover::before {
    background: black;
    clip-path: polygon(0% 100%, 0% 0%, 100% 14%, 100% 23%, 85% 27%, 100% 30%, 100% 43%, 78% 41%, 99% 51%, 100% 63%, 87% 69%, 100% 68%, 99% 92%, 0% 100%, 100% 94%, 65% 92%, 64% 100%);
    color: aliceblue;
    width: fit-content;
    animation: jumpp 600ms linear 2;
    padding: 0 1vw;
    animation-delay: 200ms;
    box-shadow: 2px 1px 50px solid black;
}

.projectsite .sLider .slider-wrapper .slider-slide:nth-child(7):hover::before {
    background: none;
    color: black;
    animation: none;
    clip-path: none;
    padding: 0;
}
.projectsite .sLider .slider-wrapper .slider-slide:last-child:hover::before {
    background: none;
}




@media screen and (width<=1200px) {
    .projectsite {
        gap: 23vw;
        margin: 10vw auto;
    }

}






.projectsite .rightproject {
    position: relative;
    width: 50%;
    height: 100%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
    align-items: flex-start;
    box-sizing: border-box;
    transition: 0.3s;
}

@media screen and (width<992px) {

    .projectsite .rightproject {
        position: relative;
        width: 60%;
        height: 100%;
        min-width: 350px;
        margin: auto;
    }

    .projectsite .swiper-wrapper .swiper .lastone {
        display: none;
    }

}

.projectsite .rightproject svg {
    height: 6vw;
    fill: aliceblue;
    background-color: #7558db;
    border-radius: 50%;
    padding: 1vw;
    aspect-ratio: 1/1;
    object-fit: contain;
    margin-left: 2vw;
}

.projectsite .rightproject .svg {
    position: relative;
}

.projectsite .rightproject .svg::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    height: 1.5vw;
    aspect-ratio: 1/1;
    background-color: #7558db;
    border-radius: 50%;
}

.projectsite .rightproject .svg::after {
    content: '';
    position: absolute;
    left: 110%;
    top: 50%;
    transform: translate(0, -50%);
    height: 1.5vw;
    aspect-ratio: 1/1;
    background-color: #7558db;
    border-radius: 50%;
}

.projectsite .rightproject h1 {
    font-family: 'AvenirLTStdBold', sans-serif;
    font-size: 3vw;
    color: rgba(0, 0, 0, 0.802);
}

.projectsite .rightproject p {
    font-weight: 400;
    font-size: 1.25vw;
    color: rgba(0, 0, 0, 0.702);
    line-height: 1.7vw;
}

.projectsite .rightproject a {
    outline: transparent;
    border: none;
    font-weight: 200;
    font-size: 1.6vw;
    color: aliceblue;
    background: #7558db;
    border-radius: 50px;
    padding: 1vw 8vw;
    transition: 200ms ease-in-out;
}

.projectsite .rightproject a:hover {

    background: #7458dbea;
}

@media screen and (width<=500px) {

    .projectsite .rightproject {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vw;
        text-align: center;
    }

    .projectsite .rightproject svg {
        height: 16vw;
        fill: aliceblue;
        background-color: #7558db;
        border-radius: 50%;
        padding: 3vw;
        aspect-ratio: 1/1;
        object-fit: contain;
        margin-left: 2vw;
    }

    .projectsite .rightproject .svg::before {
        top: 50%;
        transform: translate(-100%, -50%);
        height: 4.2vw;
    }

    .projectsite .rightproject .svg::after {
        height: 4.2vw;
    }

    .projectsite .rightproject h1 {
        font-size: 5.7vw;
        font-weight: bolder;
        width: 100%;
        color: rgba(0, 0, 0, 0.702);
    }

    .projectsite .rightproject p {
        font-weight: 500;
        font-size: 3vw;
        line-height: 4vw;
        color: black;
        text-align: justify;
    }

    .projectsite .rightproject a {
        font-size: 3.2vw;
        color: aliceblue;
        background: #7558db;
        border-radius: 50px;
        padding: 2vw 14vw;
    }


}




/* -------------*******8----------------------INDUSTRIES AREA   */
.industrysite {
    display: flex;
    flex-direction: column;
    gap: 9vw;
    align-items: center;
    height: fit-content;
    padding: 2vw 0;
    width: 92%;
    margin: 10vw auto;
    text-align: center;
    position: relative;
}

.industrysite .SLider {
    width: 95vw;
    height: 40vh;
    position: relative;
    margin: auto;
}

.industrysite .SLider .slider-wrapper {
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    height: 100%;
    padding: 2vw 0;
    position: relative;
    width: 98%;
}

.industrysite .SLider .slider-wrapper .slider-slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 400px;
    width: 100%;
    margin: auto;
}


.industrysite .SLider .slider-wrapper img {
    width: 6vw;
    object-fit: contain;
    position: absolute;
    cursor: pointer;
    transition: 200ms ease-in-out;
    transform-origin: bottom center;
}

.industrysite .SLider .slider-wrapper .slider-slide::before {
    content: attr(--data-txt);
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 900;
    font-size: 1.2vw;
    font-family: cursive;
    text-align: center;
    transition: 100ms ease-out;
}

.industrysite .SLider .slider-wrapper img:hover {
    scale: 1.1;
    filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.699));
}

.industrysite .SLider .slider-wrapper .slider-slide:last-child img:hover {
    scale: 1;
    filter: drop-shadow(0 0 0 rgba(255, 0, 0, 0.499));
}

.industrysite .SLider .slider-wrapper .slider-slide:last-child img {
    width: 94vw;
    clip-path: polygon(0 53%, 99% 53%, 100% 100%, 0% 100%);
    margin: auto;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    z-index: 2;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(1) img {
    height: 16vw;
    width: fit-content;
    object-fit: contain;
    left: 0%;
    top: 18%;
    right: 0;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(3) img {
    width: 8vw;
    height: fit-content;
    object-fit: contain;
    left: 8%;
    top: -25%;
    z-index: 1;
    right: 0;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(4) img {
    width: 11vw;
    height: fit-content;
    object-fit: contain;
    left: 16%;
    top: 30%;
    z-index: 1;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(2) img {
    width: 12vw;
    object-fit: contain;
    left: 7%;
    top: 65%;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(5) img {
    width: 9vw;
    object-fit: contain;
    left: 26%;
    top: 10%;
    right: 0;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(6) img {
    width: 13vw;
    object-fit: contain;
    left: 32%;
    top: -18%;
    right: 0;
    z-index: 0;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(7) img {
    width: 11.4vw;
    object-fit: contain;
    left: 43%;
    top: 16%;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(8) img {
    width: 16vw;
    object-fit: contain;
    left: 51%;
    top: 20%;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(9) img {
    width: 11.5vw;
    object-fit: contain;
    left: 64%;
    top: 32%;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(10) img {
    width: 7vw;
    object-fit: contain;
    left: 72%;
    top: -23%;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(11) img {
    width: 11vw;
    object-fit: contain;
    left: 76%;
    top: 27%;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(12) img {
    width: 11vw;
    object-fit: contain;
    left: 88%;
    top: 17%;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(13) img {
    width: 8vw;
    object-fit: contain;
    left: 52%;
    top: -32%;
}

/* ------------------------------------------------------------befores */

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(1)::before {
    left: -3%;
    top: 0%;
    rotate: -20deg;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(3)::before {
    left: 7%;
    rotate: -20deg;
    top: -30%;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(4)::before {

    left: 17%;
    rotate: 20deg;
    top: 17%;
    z-index: 2;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(2)::before {
    left: 10%;
    rotate: -20deg;
    top: 50%;

}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(5)::before {
    left: 26%;
    rotate: -10deg;
    top: -20%;
    z-index: 100;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(6)::before {
    left: 34%;
    rotate: 10deg;
    top: -48%;
    font-size: 120%;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(7)::before {
    left: 45%;
    top: -8%;
    rotate: -10deg;
    font-size: 90%;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(8)::before {
    left: 56%;
    top: 10%;
    rotate: -10deg;
    z-index: 3;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(9)::before {
    left: 69%;
    font-size: 80%;
    top: 23%;
    z-index: 3;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(10)::before {
    left: 75%;
    font-size: 70%;
    rotate: -10deg;
    top: -33%;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(11)::before {
    left: 79%;
    top: 15%;
    font-size: 110%;
    rotate: -10deg;
    z-index: 2;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(12)::before {
    left: 92%;
    top: 5%;
    rotate: 10deg;
    z-index: 2;
}

.industrysite .SLider .slider-wrapper .slider-slide:nth-child(13)::before {
    left: 60%;
    top: -17%;
    rotate: -15deg;
}


.industrysite .SLider .slider-wrapper .slider-slide:hover::before {
    background: black;
    clip-path: polygon(0% 100%, 0% 0%, 100% 14%, 100% 23%, 85% 27%, 100% 30%, 100% 43%, 78% 41%, 99% 51%, 100% 63%, 87% 69%, 100% 68%, 99% 92%, 0% 100%, 100% 94%, 65% 92%, 64% 100%);
    color: aliceblue;
    width: fit-content;
    animation: jumpp 600ms linear 2;
    padding: 0 1vw;
    animation-delay: 300ms;

}

.industrysite .SLider .slider-wrapper .slider-slide:last-child:hover::before {
    background: none;
}

/* swiper styles  */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    height: 50vw;
    aspect-ratio: 1/1;
    margin: auto;
    object-fit: contain;
    cursor: pointer;
}

.swiper-slide:last-child {
    display: none;
}




@media screen and (width<=1100px) {

    .slideselection:nth-child(7){
        display: none;
    }

}






.industrysite .rightindustry {
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
    align-items: center;
    box-sizing: border-box;
    transition: 0.3s;
}

.industrysite .rightindustry svg {
    height: 6vw;
    fill: aliceblue;
    background-color: #7558db;
    border-radius: 50%;
    padding: 1vw;
    aspect-ratio: 1/1;
    object-fit: contain;
    margin-left: 2vw;
}

.industrysite .rightindustry .svg {
    position: relative;
}

.industrysite .rightindustry .svg::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    height: 1.5vw;
    aspect-ratio: 1/1;
    background-color: #7558db;
    border-radius: 50%;
}

.industrysite .rightindustry .svg::after {
    content: '';
    position: absolute;
    left: 110%;
    top: 50%;
    transform: translate(0, -50%);
    height: 1.5vw;
    aspect-ratio: 1/1;
    background-color: #7558db;
    border-radius: 50%;
}

.industrysite .rightindustry h1 {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 3vw;
    color: rgba(0, 0, 0, 0.802);
}

.industrysite .rightindustry p {
    font-weight: 400;
    font-size: 1.25vw;
    color: rgba(0, 0, 0, 0.702);
    line-height: 1.7vw;
}


@media screen and (width<=500px) {

    .industrysite .rightindustry {
        width: 90vw;
        margin: auto;
    }

    .industrysite .rightindustry svg {
        height: 16vw;
        padding: 3vw;
    }

    .industrysite .rightindustry .svg::before {
        top: 50%;
        transform: translate(-100%, -50%);
        height: 4.2vw;
    }

    .industrysite .rightindustry .svg::after {
        height: 4.2vw;
    }

    .industrysite .rightindustry h1 {
        font-size: 6vw;
        font-weight: bolder;
        width: 90vw;
        color: rgba(0, 0, 0, 0.702);
    }

    .industrysite .rightindustry p {
        font-weight: 500;
        font-size: 3vw;
        line-height: 4vw;
        color: black;
        text-align: justify;
        width: 90%;
    }

}